Utilizaremos dados do seaborn para esse exercício

In [376]:
import seaborn as sns

random_state = 90

In [377]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [378]:
healthexp = sns.load_dataset("healthexp")
healthexp.tail(20)

     Year        Country  Spending_USD  Life_Expectancy
254  2017          Japan      4412.852             84.2
255  2017            USA     10046.472             78.6
256  2018         Canada      5308.356             82.0
257  2018        Germany      6281.840             81.0
258  2018         France      5099.306             82.8
259  2018  Great Britain      4189.708             81.3
260  2018          Japan      4554.276             84.3
261  2018            USA     10451.386             78.7
262  2019         Canada      5189.721             82.2
263  2019        Germany      6407.928             81.3
264  2019         France      5167.839             82.9
265  2019  Great Britain      4385.463             81.4
266  2019          Japan      4610.794             84.4
267  2019            USA     10855.517             78.8
268  2020         Canada      5828.324             81.7
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

Faremos agora, uma coluna com a média da expectativa de vida por ano para todos os países

A queda no ano de 2020 pode prejudicar nossa análise, por isso escolhemos remover esse ano do nosso dataset.

Dividiremos o dataset entre:
  - Características: elementos que serão usados pelo modelo para previsão
  - Alvo: os valores que queremos prever

Vamos dividir entre treino e teste utilizando o método da própria scikit-learn

Observe que, ao utilizarmos esse método de separação, estamos separando os datasets de forma aleatória

# Prevemos

Criando o modelo

Fazendo a previsão

O que isso significa? Vamos plotar pra visualizarmos de forma mais clara

Podemos observar a comparação entre os valores reais e o que foi previsto de forma mais clara utilizando outro gráfico

Podemos, agora, calcular os erros da nossa previsão

Agora, podemos repetir o mesmo processo utilizando mais características para, quem sabe, melhorar o resultado

Vamos fazer um `param_grid` para brincar um pouco com os parametros do nosso modelo e buscar resultados melhores